<footer>
    <style>
       footer {
      background-color: #f2c200;
      padding: 20px 0;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    .footer-icons {
      font-size: 2rem;
      color: black;
    }
    .footer-text {
      font-size: 1rem;
      color: black;
    }
    .footer-item {
      text-align: center;
    }
    .footer-link {
      text-decoration: none;
        }
    </style>
    
    <div class="container">
        <div class="row">
            <div class="col-4 footer-item">
                <a th:href="@{carrinho}" class="footer-link">
                    <i class="bi bi-cart footer-icons"></i>
                    <div class="footer-text">Carrinho</div>
                </a>
            </div>
            <div class="col-4 footer-item">
                <a th:href="@{favoritos}" class="footer-link">
                    <i class="bi bi-heart footer-icons"></i>
                    <div class="footer-text">Favoritos</div>
                </a>
            </div>
            <div class="col-4 footer-item">
                <a th:href="@{menuUsuario}" class="footer-link">
                    <i class="bi bi-person footer-icons"></i>
                    <div class="footer-text">Perfil</div>
                </a>
            </div>
        </div>
    </div>
</footer>